/Hello world/nbproject/private/
/Hello world/build/
/Person/nbproject/private/
/Person/build/
/test/nbproject/private/
/Person 2/nbproject/private/
/MathOperations/nbproject/private/
/MathOperations/build/
/Booleans/nbproject/private/
/Booleans/build/
/User Data/nbproject/private/
/UserData/nbproject/private/
/UserData/build/
/Quiz/nbproject/private/
/Quiz/build/
/While Loops/nbproject/private/
/Repeater/nbproject/private/
/Repeater/build/
/Number Game/nbproject/private/
/Number Game/build/
/Number Game/dist/
/HighOrLow/nbproject/private/
/HighOrLow/build/
/Functions/nbproject/private/
/Graphing Formulas/nbproject/private/
/Graphing Formulas/build/
/Arrays/nbproject/private/
/Arrays/build/
/ForLoops/nbproject/private/
/ForLoops/build/
/ForLoop/nbproject/private/
/ForLoop/build/
/Car/nbproject/private/
/Car/build/
/Person 2/build/
/Phonebook/nbproject/private/
/FileInput/nbproject/private/
/MathIO/nbproject/private/
/MathIO/build/
/MathIO-use/nbproject/private/
/MathIO2/nbproject/private/
/MathIO2/build/
/Puzzles/nbproject/private/
/Puzzles/build/
/SearchList/nbproject/private/
/SearchList/build/