/Hello world/nbproject/private/
/Hello world/build/
/Person/nbproject/private/
/Person/build/
/test/nbproject/private/
/Person 2/nbproject/private/
/MathOperations/nbproject/private/
/MathOperations/build/
/Booleans/nbproject/private/
/Booleans/build/
/User Data/nbproject/private/
/UserData/nbproject/private/
/UserData/build/
/Quiz/nbproject/private/